<p id="notice"><%= notice %></p>

<%# <%= link_to 'Edit', edit_driversandcar_path(@driversandcar) %> 
<%= link_to 'Get driver car', driversandcars_path %>
<br>
<%= link_to 'New Car', new_car_path %>

<br>
<%= link_to 'New Driver', new_driver_path %>
<br>
<%= link_to 'New Driversandcar', new_driversandcar_path %>
