<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <td>created_at</th>
    </tr>
  </thead>

  <tbody>
    <% @driversandcar.each do |drivercar| %>
      <tr>
        <td><%= drivercar.id %></td>
        <td><%= drivercar.name %></td>
        <td><%= drivercar.created %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%# <%= link_to 'Edit', edit_driversandcar_path(@driversandcar) %>
<%= link_to 'Back', driversandcars_path %>
