<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @driver.birth_date %>
</p>

<div>
  <strong>Image:</strong>
  <%=image_tag @driver.image.url() %>
</div>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
