<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @car.type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Driver name:</strong>
  <%= @car.driver_name %>
</p>

<div>
  <strong>Image:</strong>
  <%= image_tag @car.image.url(:medium) %>
</div>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
